# Virtual environment
venv/
.venv/

# Python
__pycache__/
*.py[cod]
*.egg-info/
.ipynb_checkpoints/

# Data and outputs — too large for git
/data/
/experiments/*
!/experiments/notes.md
!/experiments/.gitkeep
*.pth
*.pt
*.ckpt
runs/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# kaggle token
KGAT_6c3d2f77e40a1f8bcc9c447fd1ed0e0c